/* top bar */
* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
 } 
.top-bar{
  background-color: rgb(52,77,210);
  width: auto;
  padding: 30px 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
/* img */
.tank-img{
  padding: 20px;
}
.img-container{
  display: flex;
  justify-content: center;
  width: 50%;
}
/* content */
.content{
  display: flex;
  padding: 50px;
  justify-content: space-evenly;
}
.form-container{
  padding: 20px;
  border: solid 1px black;
  width: 40%;
  text-align: center;
}
/* form*/
select{
  padding: 10px;
  width: 60%;
  font-size: 18px;
  margin: 20px;
}
.submit{
  color: white;
  border: none;
  border-radius: 10px;
  height: 50px;
  width: 150px;
  background-color: rgb(52,77,210);
}
/* button back  and skip */
.button-container{
  display: flex;
  justify-content: space-between;
}
.back, .skip{
  padding: 20px;
  color: black;
  border-color: rgb(52,77,210);
  margin-top: 20px;
  border-radius: 10px;
  height: 50px;
  width: 150px;
  background-color: white;

} 


